<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
<<<<<<< HEAD
	{{!-- <link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css" /> --}}
=======
>>>>>>> a7e55a555400a2eea070128be8269abb9ed56c17
	<link rel="stylesheet" href="/stylesheets/style.css" type="text/css" />
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/lumen/bootstrap.min.css">
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="modles/index.js"></script>
	<title>Meili</title>
</head>

<body>
	{{{ body }}}
	

</body>

</html>