{{!-- <h2>Gear Inventory List</h2>
<ul>
    {{#each gearData}}
    <li>
        {{dataValues.itemName}}
        <button data-id={{id}} class="edit-item" type="submit" data-order="true">Edit</button>
    </li>
    {{/each}}
</ul>

<form>
    <p>Add a new item to your inventory</p>
    <div class="form-group">
        <label for="itemName">Item Name</label>
        <input type="text" class="form-control" id="itemName" placeholder="itemName">
    </div>
    <div class="form-group">
        <label for="inputPassword4">itemDescription</label>
        <input type="text" class="form-control" id="inputPassword4" placeholder="itemDescription">
    </div>
    <div class="form-group">
        <label for="inputAddress">itemWeight</label>
        <input type="text" class="form-control" id="inputAddress" placeholder="itemWeight">
    </div>
    <div class="form-group">
        <label for="inputAddress2">itemStorageLocationion</label>
        <input type="text" class="form-control" id="inputAddress2" placeholder="itemStorageLocationion">
    </div>
    <div class="form-group">
        <label for="inputCity">itemQuantityInStorage</label>
        <input type="text" class="form-control" id="inputCity" placeholder="itemQuantityInStorage">
    </div>
    <div class="form-group">
        <label for="inputCity">itemQuantityInPackingList</label>
        <input type="text" class="form-control" id="inputCity" placeholder="itemQuantityInStorage">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>




{{#section 'scripts'}}
<script type="text/javascript" src="js/gear.js"></script>
{{/section}} --}} --}}