<form id="createForm">
    <p>Add a new item to your inventory</p>
    <div></div>
    <div class="form-group">
        <label for="itemName">Item Name</label>
        <input type="text" class="form-control" id="itemName" placeholder="">
    </div>
    <div class="form-group">
        <label for="itemDescription">itemDescription</label>
        <input type="text" class="form-control" id="itemDescription" placeholder="">
    </div>
    <div class="form-group">
        <label for="itemWeight">itemWeight</label>
        <input type="text" class="form-control" id="itemWeight" placeholder="">
    </div>
    <div class="form-group">
        <label for="itemStorageLocation">itemStorageLocation</label>
        <input type="text" class="form-control" id="itemStorageLocation" placeholder="">
    </div>
    <div class="form-group">
        <label for="itemQuantityInStorage">itemQuantityInStorage</label>
        <input type="text" class="form-control" id="itemQuantityInStorage" placeholder="">
    </div>
    <div class="form-group">
        <label for="itemQuantityInPackingList">itemQuantityInPackingList</label>
        <input type="text" class="form-control" id="itemQuantityInPackingList" placeholder="">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>