<table>
    <tr class="tableTitle">
        <th>
            Gear Inventory List
        </th>
    </tr>

    <tr class="dataHeaders">
        <th class="item">Item</th>
        <th class="type">Description</th>
        <th class="type">Wgt.</th>
        <th class="item">Storage Location</th>
        <th class="onhand">Qty. On Hand</th>
        {{!-- <th class="onhand">Qty. Desired</th> --}}
        <th class="packed">Qty. Packed</th>
        {{!-- <th class="packed">Qty. Desired</th> --}}
        {{!-- <th class="total">Total Purchase Require</th> --}}
        {{!-- <th class="made">Purchase Qty. Made</th> --}}
    </tr>

    {{#each items}}
    <tr class="item1">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        {{!-- <td></td> --}}
        {{!-- <td></td> --}}
        {{!-- <td></td> --}}
        {{!-- <td></td> --}}
    </tr>
    {{/each}}   
</table>
 