{{!-- this is the landing page --}}
<body class="class-for-index">
    <div class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="welcome-index masthead-heading mb-0">Welcome</h1>
                <p class="index-sub masthead-subheading m-1 mx-auto" style="width: 700px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. A hic cum, commodi, in odit minima sunt earum eveniet error nam asperiores eum nisi accusamus assumenda veniam ex doloremque sit.</p>
                    <button type="button" class="index-login-btn btn btn-light btn-sm btn-round m-3" >Log in</button>

            <p><a href="" class="index-ahref">Create Account</a>|<a href="" class="index-ahref">Forgot Password</a></p>
        </div>
    </div>
</body>

<script type="text/javascript" src="/public/js/members.js"></script>