{{!-- this is the landing page --}}
<body class="class-for-index container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <h1 class="welcome-index masthead-heading">Be Prepared For The Mountains And Boyond!</h1>
                <p class="index-sub masthead-subheading mb-3 mt-3">Meili is a simple application to help you keep track of your hiking gear. Get organized, creating a more stress free experience leading to your next adventure.</p>
                    <a href="/login" type="button" class="index-login-btn btn btn-light btn-sm btn-round mt-4" >Log in</button></a>
                    <a href="/signup" class="index-ahref btn btn-light btn-sm btn-round pl-3 mt-4">Create Account</a>
        </div>
    </div>
</body>

