{{!-- this is the landing page --}}
<body class="class-for-index">
    <div class="masthead d-flex">
        <div class="container text-center my-auto">
        <h1 class="masthead-heading mb-0">Welcome</h1>
            <p class="masthead-subheading mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim soluta doloribus veritatis debitis voluptatem ratione, cupiditate odio quasi.</p>
                <button type="button" class="btn btn-light text-dark">Log in</button>
        
        <p><a href="" class="index-ahref">Create Account</a>|<a href="" class="index-ahref">Forgot Password</a></p>
        </div>
    </div>
</body>

<script type="text/javascript" src="/public/js/members.js"></script>