{{!-- this is the landing page --}}
<body class="class-for-index">
    <div class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="welcome-index masthead-heading mb-0">Meili</h1>
                <p class="index-sub masthead-subheading m-1 mx-auto" style="width: 700px;">A simple way to keep track of your hiking gear</p>
                    <a href="/login" type="button" class="index-login-btn btn btn-light btn-sm btn-round m-3" >Log in</button></a>

            <p><a href="/signup" class="index-ahref">Create Account</a></p>
        </div>
    </div>
</body>

