<div class="login pt-5">
    <div class="login-container mt-5">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="login-page-cont col-md-4 rounded shadow">
                <div id="login-box" class="col-md-12 mt-5 ">
                    <form id="login" class="form" action="" method="post">
                        <h3 class="text-center">User Login</h3>
                        <div class="form-group">
                            <label for="exampleInputEmail1"></label><br>
                            <input type="email" class="form-control login-input-email" id="email-input" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1" class="text-info"></label><br>
                            <input type="password" class="form-control login-input-pass" id="password-input" placeholder="Password">
                        </div>
                        <div class="form-group">
                            <label for="remember-me"><span>Remember me</span> <span><input id="remember-me" name="remember-me" type="checkbox"></span></label><br>
                            <div class="text-center">
                                <button type="submit" class="login-login-btn btn btn-light btn-sm btn-round m-3">Login</button>
                            </div>
                        </div>
                            <div id="register-link">
                                <p class="signup-link">Don't have an account? <a href="/signup" class="signup-link">Sign up</a></p>
                                <p><a href="/">Home</a></p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{#section 'scripts'}}
    <script type="text/javascript" src="js/login.js"></script>
{{/section}}


