<body class="class-signup">
<div class="pt-3">
    <div class="container mt-5">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="signup-colomn col-md-6 rounded shadow p-3">
                <div id="login-box" class="col-md-12">
                    <form id="signup">
                        <div class="imgcontainer text-center"> 
                            <i class="fa fa-user-circle"></i>
                        </div>
                        <h3 class="text-center mt-3 my-0">Create an Account</h3>
                        <div class="form-group">
                            <label for="exampleInputEmail1" class="signup-input-email"></label><br>
                            <input type="email" class="form-control" id="email-input" placeholder="Email address">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1"></label><br>
                            <input type="password" class="form-control" id="password-input" placeholder="Password">
                        </div>
                        <div style="display: none" id="alert" class="alert alert-danger" role="alert">
                          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                          <span class="sr-only">Error:</span> <span class="msg"></span>
                        </div>
                        <div class="form-group text-center">
                            <button type="submit" class="signup-save-btn btn btn-sm btn-round mt-4 shadow">Create Account</button>
                        </div>
                            <div id="register-link" class="text-center">
                                <p class="account">already have an account?</p>
                                <a href="/login" type="button" class="signup-login-btn btn btn-sm btn-round">Log in</button></a>
                                {{!-- <p><a href="/">Home</a></p> --}}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    {{#section 'scripts'}}
    <script type="text/javascript" src="js/signup.js"></script>
    {{/section}}


