.class-gear {
    background: url(/media/inventorybg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.tableHeader {
    text-align: center;
    align-items: center;
    align-content: center;
}