form.signup,
form.login {
  margin-top: 50px;
}

/* index.handlebars (Landing page) styling */
@font-face {
  font-family: Oswald;
  src: url("'https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap")
}
.class-for-index {
  background: url(../img/benjamin-suter-CgoRzWX4CDg-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: white;
}
.index-ahref {
  color: white;
  margin: 1rem;
  font-size: 0.75rem;
}
.index-login-btn.btn.btn-round {
  border-radius: 40px;
  padding-left: 5rem;
  padding-right: 5rem;
  color: #0A6B6D;
  font-weight: bold;
}
.welcome-index {
  font-size: 8rem;
  margin-top: 15rem;
  padding: 1rem;
  font-family: Oswald;
  font-weight: 50;
  text-transform: uppercase;
  letter-spacing: .5rem;
}
/*  */

/* signup.handlebars (sign up page) */
.class-signup {
  background-color: #013042;
  color: rgb(255, 255, 255);
}

.signup-save-btn.btn.btn-round {
  border-radius: 40px;
  padding: 0.7rem;
  padding-left: 5rem;
  padding-right: 5rem;
  color: white;
  background: linear-gradient(#1DB49B, #167B6B);

}

.fa.fa-user-circle {
  color: #0A6B6D;
  font-size: 8rem;
}

.signup-login-btn.btn.btn-round {
  border-radius: 40px;
  padding: 0.7rem;
  padding-left: 5rem;
  padding-right: 5rem;
  color: white;
  border-color: #1DB49B;
}
p.account {
  font-size: 10px;
  margin: 0.25rem;
}
#signup-email-input, #signup-password-input, #signup-name-input{
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #1DB49B;
  background-color: transparent;
  color: white;
}

/*input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.658) !important;
  } */


/*  */
