form.signup,
form.login {
  margin-top: 50px;
}
/*  

/* index.handlebars (Landing page) styling */
body {
  background: url(../img/nathan-dumlao-pLoMDKtl-JY-unsplash\ \(1\).jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: white;
}
.index-login-btn.btn.btn-round, .login-login-btn {
  padding: 0.7rem;
  padding-left: 5rem;
  padding-right: 5rem;
  color: #0A6B6D;
  font-weight: bold;
}
.index-ahref.btn {
  padding-right: 1rem;
  color: #22d8ba;
  background-color: transparent;
  border-color: transparent;
  font-weight: bold;
}
.welcome-index {
  font-size: 3rem;
  margin-top: 15rem;
  font-family: ''Arial'', 'Helvetica', 'sans-serif';
  font-weight: 50;
  text-transform: uppercase;
  letter-spacing: .2rem;
  font-style: italic;
  text-shadow: 2px 2px #02020252;
  font-weight: bold;

}
.index-sub {
  text-shadow: 2px 2px #02020252;
}
/*  


/* signup.handlebars (sign up page) */
.signup-save-btn.btn.btn-round {
  padding: 0.7rem;
  padding-left: 5rem;
  padding-right: 5rem;
  color: white;
  background-color: #1DB49B;

}
.signup-input-email, .signup-input-pass {
  background-color: rgba(255, 255, 255, 0.363);
}
.fa.fa-user-circle {
  color: #0A6B6D;
  font-size: 8rem;
}
.signup-login-btn.btn.btn-round {
  padding: 0.7rem;
  padding-left: 5rem;
  padding-right: 5rem;
  color: white;
  border-color: #1DB49B;
}
p.account {
  font-size: 10px;
  margin: 0.25rem;
  text-shadow: 2px 2px #02020252;
}
.signup-colomn {
  background-color: #01304281;
}
/*


/* login.handlebars page */
.login-page-cont {
  background-color: rgba(155, 153, 153, 0.144);
  backdrop-filter: blur(2px);

}
.login-input-email, .login-input-pass {
  background-color: rgba(255, 255, 255, 0.363);
}
a.signup-link, .home-link {
  color: #1DB49B;
  
}
p.signup-link {
  margin-top: 3rem;
}
/*
/*  */

.card-title {
  color: black;
}

.modal-content {
  color: black;
}