form.signup,
form.login {
  margin-top: 50px;
}
/*  
/*  
*/
/* index.handlebars (Landing page) styling */
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap"); 
  

.class-for-index {
  background: url(../img/nathan-dumlao-pLoMDKtl-JY-unsplash\ \(1\).jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: white;
}
.index-login-btn.btn.btn-round, .login-login-btn {
  padding: 0.7rem;
  padding-left: 5rem;
  padding-right: 5rem;
  color: #0A6B6D;
  font-weight: bold;
}
.index-ahref.btn {
  padding-right: 1rem;
  color: #22d8ba;
  background-color: transparent;
  border-color: transparent;
}
.welcome-index {
  font-size: 3.5rem;
  margin-top: 15rem;
  /* padding: 1rem; */
  font-family: Oswald;
  font-weight: 50;
  text-transform: uppercase;
  letter-spacing: .5rem;
  font-style: italic;
  text-shadow: 2px 2px #02020252;
}
.index-sub {
  text-shadow: 2px 2px #02020252;
}
 /*  
*/
/* signup.handlebars (sign up page) */
.class-signup {
  background: linear-gradient(to bottom right,#013042, #167B6B);
  height: 100vh;
  color: rgba(255, 255, 255, 0.897);
}
.signup-save-btn.btn.btn-round {
  padding: 0.7rem;
  padding-left: 5rem;
  padding-right: 5rem;
  color: white;
  background-color: #1DB49B;

}
.fa.fa-user-circle {
  color: #0A6B6D;
  font-size: 8rem;
}
.signup-login-btn.btn.btn-round {
  padding: 0.7rem;
  padding-left: 5rem;
  padding-right: 5rem;
  color: white;
  border-color: #1DB49B;
}
p.account {
  font-size: 10px;
  margin: 0.25rem;
}
.signup-colomn {
  background-color: #013042d0;
}
/* #signup-email-input, #signup-password-input, #signup-name-input{
  
} */
/*
*/
.login {
  background-image:url(../img/nathan-dumlao-pLoMDKtl-JY-unsplash\ \(1\).jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: white;
}
.login-page-cont {
  background-color: rgba(155, 153, 153, 0.144);
  backdrop-filter: blur(2px);

}
.login-input-email, .login-input-pass {
  background-color: rgba(255, 255, 255, 0.363);
}
a.signup-link {
  color: #1DB49B;
}
p.signup-link {
  margin-top: 3rem;
}
